



body{
  
    background-color: #aaff00;
}

h1{
    font-size: 100px;
   font-family:"usar";
    color:#aaff00;


}
p{
    font-size: 20px;
    font-family: "usar";
    color:#aa00ff;
   
   

}
@font-face{
    font-family:'usar';
    src:url(HollowgraphyPersonalUseOnly-9hjqe.ttf ) format("opentype"), url(HollowgraphyPersonalUseOnly-9hjqe.ttf)
    format("truetype");
    font-weight: normal;
    font-style: normal;
}
button{
    color: blue;
    border-style: solid;
    border-color: black;
}


table{
    font-size: 35px;
    font-family: "usar";
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 215, 215);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: aqua;
    padding: 20px;
}
main{
    padding: 25px;
}

h1{
    font-size: 36px;
}
p{
    line-height: 1.5,;
    text-align: justify;
}

.dark-mode{
    background-color: rgb(123, 235, 11);
    color: rgb(252, 252, 237);

}


.dark-mode-header{
    background-color: coral;
    color: brown;
}

.dark-mode h1{
    background-color: blueviolet;
}
.dark-mode p{
    color: aqua;
}